@font-face {
    font-family: 'Limanosimo';
    src: url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
}



* {
    box-sizing: border-box;
}

nav {
    z-index: 1;
}

body {
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
}

#board_container {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#board {
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    max-height: 800px;
}

@media only screen and (max-width: 1199px) {
    #board {
        align-self: unset;
    }
}
